<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <style type="text/css">
     /* body{
        background: rgba(148, 3, 252);
      }
        .admin{
        margin-left: 100px;
      }*/

      .st_data{
        padding: 10px;
        box-shadow: 1px 1px 2px 2px rgba(142, 49, 196);
        background: rgba(196, 49, 76);
      }

      .st_data p{
        margin-left: 180px;
      }

    .borderimg {
        background-color:rgba(148, 3, 252);
        padding: 15px;
        width:650px;
        box-shadow: 0 0 5px 5px red;
        border:4px solid white;
        margin-left: 300px;
        margin-top: 200px;
        color: white
    }

    </style>

    <title></title>
  </head>
    
  <body>