<div class="sidebar">
  <a class="active" href="/studentsaccount/studentsaccountpage">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="/studentsaccount/assigment">Assigment Questions</a>
  <a href="/studentsaccount/findclasstestqu">Find Your Exam</a>
  <a href="/studentsaccount/findclasstestresult">Find Your Result</a>
  <a href="#" class="d-flex align-items-center text-primary text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
       <img src="<%=users.photo%>" alt="hugenerd" width="30" height="30" class="rounded-circle">
      <span class="d-none d-sm-inline mx-1"><%=users.name%></span>
    </a>

    <a class="text-danger" href="/studentsaccount/logout">Sign out</a></li>
</div>
