<%-include('./Partials/header.ejs')%>
<%-include('./Partials/navbar.ejs')%>
  <div class="container">
      <%if(duplicate){%>
         <script>alert('This Student has Already Attendance')</script> 
      <%}%>
      <center class='my-3'><h4>Students Attendance</h4></center>
      <form action="/studentsaccount/attendance" method="post">

          <div class="row">
            <div class="col-md-3">
                <label for='name' class="text-primary">Students Name:</label>
                <input type="text" name="name" class="form-control" placeholder="Type Students Name..." required>
            </div>

            <div class="col-md-3">
                <label for='classname' class="text-danger">Class Name:</label>
                  <select name='classname' class="form-control" required>
                      <option selected>Selected Class Name</option>
                      <option value=6>Class Six</option>
                      <option value=7>Class Seven</option>
                      <option value=8>Class Eight</option>
                      <option value=9>Class Nine</option>
                      <option value=10>Class Ten</option>
                 </select>
            </div>
           

            <div class="col-md-3">
                <label for='roll' class="text-primary">Students Roll:</label>
                <input type="Number" name="roll" class="form-control" placeholder="Type Students Name..." required>
            </div>

            <div class="col-md-3">
                <label for='present' class="text-danger">Present:</label>
                  <select name='present' class="form-control" required>
                      <option selected>Selected</option>
                      <option value="Present">Present</option>
                      <option value="Absence">Absence</option>
                      <option value="Vacation">Vacation</option>
                 </select>
            </div>

            <div class="col-md-3" style="display:none">
                <label for='date' class="text-danger">Date:</label>
                <input type="text" name="date" class="form-control" id="currentDate" readonly required> 
            </div>

            <div class="col-md-3" style="display:none">
                <label  for='present' class="text-danger">year:</label>
                <input type="text" name="year" class="form-control" id="year" readonly required> 
            </div>

            <div class="col-md-3" style="display:none">
                <label for='month' class="text-danger">month:</label>
                <input type="text" name="month" class="form-control" id="month" readonly required> 
            </div>

             <div class="col-md-3 mt-4">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
            
        </div>
                
      </form>
  </div>

 <script type="text/javascript">
    /* function getDate() {
      const stdate = new Date()
        const options = { weekday: 'long', year: 'numeric', day: 'numeric', month: 'long'};
        let strdate = stdate.toLocaleDateString(options)
       document.getElementById("date").value=strdate  
    }*/

    let today = new Date();
    let date = today.getDate()+'-0'+(today.getMonth()+1)+'-'+today.getFullYear();
    document.getElementById("currentDate").value = date;
    document.getElementById("year").value = today.getFullYear();
    document.getElementById("month").value = (today.getMonth()+1);
 </script>
<%-include('./Partials/footer.ejs')%>
