<%-include('./Partials/header.ejs')%>
<%-include('./Partials/navbar.ejs')%>
<div class="container mt-5">
   <%if(users){%>
      <script>
          alert("This Students Allready Entry")
      </script>
    <%}else if(successfull){%>
        <script>
            alert('Account Create Successful..')
        </script>
    <%}%>

     <%if(error.password){%>
         <script>
            alert("Password Must Be Greather Than 8 Char...")
         </script>
      <%}else if(error.confirmPassword){%>
          <script>
            alert("Password Dosen't Match")
        </script>
      <%}%>
      <div class='body'>
          <section>
              <div class="content">
                <h6>CreateAccount</h6>
                <h6>CreateAccount</h6>
              </div>
          </section>
      </div>
      <hr>
   <form action="/teachers/account" method="POST" style="background: #fefe; border-radius: 3px; width: 1116px; margin-left:0.40px" class="row g-3 needs-validation py-3" validate>
      <div class="col-md-3">
        <label for="name" class="form-label">Teachers Name</label>
        <input name="name" type="text" class="form-control" id="name" value="" placeholder="Type Name..." required>
      </div>
      <div class="col-md-3">
        <label for="classname" class="form-label">Subject</label>
        <input name="subject" type="text" class="form-control" id="subject" value="" placeholder="Type Subject Name.." required>
      </div>
      <div class="col-md-3">
        <label for="Roll" class="form-label">Teachers ID</label>
        <input name="idno" type="Number" class="form-control" id="idno" value="" placeholder="Type Teachers ID" required>
      </div>

      <div class="col-md-3">
        <label for="Email" class="form-label">Teachers Email</label>
        <input name="email" type="email" class="form-control" id="Email" value="" placeholder="Type Teachers email.." required>
      </div>
      <div class="col-md-3">
        <label for="Password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" value="" placeholder="Type Password.." id="Password" required>
      </div>

      <div class="col-md-3">
        <label for="confirmPassword" class="form-label">ConfirmPassword</label>
        <input name="confirmPassword" type="text" class="form-control" value="" placeholder="Type confirmPassword.." id="confirmPassword" required>
      </div>

      <div class="col-md-3">
        <label for="riligion" class="form-label">Selected Riligion</label>
        <select name="riligion" id="inputState" class="form-select" required>
            <option selected disabled>Selected One</option>
            <option value="Islam">Islam</option>
            <option value="Hidu">Hindu</option>
            <option value="Christians">Christians</option>
            <option value="Buddhists">Buddhists</option>
            <option value="other">Other</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="gender" class="form-label">Selected Gender</label>
        <select name="gender" id="inputState" class="form-select" required>
            <option selected disabled>Selected One</option>
            <option value="Male">Male</option>
            <option value="FeMale">FeMale</option>
            <option value="Othe">Othe</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="phonenumber" class="form-label">Teachers Phone Number</label>
        <input name="phonenumber" type="text" class="form-control" value="" id="phonenumber" placeholder="Type Teachers Phonenumber.." required>
      </div>


       <div class="col-md-3">
        <label for="address" class="form-label">Teachers Address</label>
        <input name="address" type="text" class="form-control" value="" id="address" placeholder="Type Teachers Address.." required>
      </div>

      
      <div class="col-md-3">
        <button style="width:200px; margin-top:30px" type="submit" class="btn btn-primary">Create Account</button>
      </div>
  </form>
 </div> 
<%-include('./Partials/footer.ejs')%>