<%-include('./Partials/header.ejs')%>
<%-include('./Partials/navbar.ejs')%>
        <div class="row my-3">
          <div class="col-md-6 offset-md-3">
             <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Wellcome Dear <%=user.name%> sir</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div class="col-md-6 offset-md-3">
              <div>
                  <h1>The app is managed by School</h1>
                  <p>The app is managed by School Administration to schedule Teaching Staff activities according to their classes & provides app access to Parents to access progress reports of their children.This is a complete solution to keep a direct & continuous watch on a child’s progres</p>
              </div>

              <div>
                  <h1>About</h1>
                  <p>A well thought concept that is specially designed to establish connectivity between school administration, teaching staff, & student’s parents.</p>
              </div>
          </div>
        </div>
 <%-include('./Partials/footer.ejs')%>