<%-include('./Partials/header.ejs')%>
<%-include('./Partials/navbar.ejs')%>
  <div class="container">
      <center class='my-3'><h4>Create Teachers Profile..</h4></center>
      <form action="/teachers" method="post" enctype="multipart/form-data">
          <div class="row offset-md-2">

            <!--Student Mode-->

            <div class="col-md-4">
                <div class="form-group">
                    <label for='name'>Teachers Name</label>
                    <input type="text" name="name" placeholder=" Enter Type Teachers Name..." class="form-control mt-2">
                </div>

                <div class="form-group">
                    <label for='address' class="text-danger"><strong>Address</strong></label>
                    <input type="text" name="address" placeholder="Enter Type Address..." class="form-control mt-2">
                </div>

                 <div class="form-group">
                    <label for='subject' class="text-danger"><strong>Subject</strong></label>
                    <input type="text" name="subject" placeholder="Enter Type Subject..." class="form-control mt-2">
                </div>

              </div>


                <!--Amount Mode-->

                <div class="col-md-4 mx-5">
                  <div class="form-group">
                      <label for='classname' class="text-danger">Teachers Email</label>
                      <input type="email" name="email" placeholder="Teachers Email..." class="form-control mt-2">
                  </div>


                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload Teachers Profile Picture</label>
                        <input type="file" class="form-control-file my-2" id="exampleFormControlFile1" name='teachersprofilepics'>
                    </div>

                    <div class="form-group">
                      <label for='description' class="text-danger">Describe This Teachers</label>
                      <textarea class="form-control" name="description" placeholder="Enter Your Opinion As Your Wish.."></textarea>
                  </div>
                </div>
                <input style="width:287px;margin-left:160px" type="submit" value="Save" class="btn btn-primary mt-3">
          </div>
      </form>
  </div>
<%-include('./Partials/footer.ejs')%>
